{% extends 'base.html' %}

{% block head_title%}
  <title>
    Вы вышли из системы
  </title>
{%endblock%}

{% block title%}
  <h3>
    Вы вышли из системы
  </h3>
{%endblock%}

{% block content%}
  <div class="container py-5">
    <div class="row justify-content-center"> <!-- row -->
      <div class="col-md-8 p-5"> <!-- col -->
        <div class="card">  <!-- card -->
          <div class="card-header">
            Выход
          </div>
          <div class="card-body">  <!-- card body -->
            <p>
              Вы вышли из своей учётной записи. Ждём вас снова!
            </p>
          </div> <!-- card body -->
        </div> <!-- card -->
      </div> <!-- col -->
    </div> <!-- row -->
  </div>
{%endblock%}