{% extends 'base.html' %}

{% block head_title%}
  <title>
    Пароль изменён
  </title>
{%endblock%}

{% block title%}
  <h3>
    Пароль изменён
  </h3>
{%endblock%}

{% block content%}
  <div class="container py-5"> 
    <div class="row justify-content-center"> <!-- row --> 
      <div class="col-md-8 p-5"> <!-- col -->
        <div class="card"> <!-- card --> 
          <div class="card-header"> 
            Пароль изменён 
          </div> 
          <div class="card-body"> <!-- card body -->  
            <p> 
              Пароль изменён успешно 
            </p> 
          </div> <!-- card body --> 
        </div> <!-- card --> 
      </div> <!-- col --> 
    </div> <!-- row --> 
  </div>
{%endblock%}
