{% extends 'base.html' %}

{% block head_title%}
  <title>
    {{ title }}
  </title>
{%endblock%}

{% block title%}
  <h1>
      Рецепты с тегом: {{ recipe.tag.slug }}
  </h1>
{%endblock%}

{% block content%}
  {% for recipe in recipes %}
    <ul>
      <li>
        Название: {{ recipe.name }}
      </li>
      <li>
        Image: {{ recipe.image }}
      </li>
      <li>
        Автор: {{ recipe.author }}
      </li>
      <li>
        Дата публикации: {{ recipe.pub_date|date:"d E Y" }}
      </li>
    </ul>
    <p>
      {{ recipe.text|linebreaksbr }}
    </p>    
    {% if recipe.tag %}
      <a href="{% url 'foodgram_app:tag_list' recipe.tag.slug %}">
        все записи группы
      </a> 
    {% endif %} 
    {% if not forloop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{%endblock%}